@font-face {
    font-family: 'Minecraft';
    src: url(fonts/minecraft-ten-font-cyrillic.ttf);
}

@font-face {
    font-family: 'Consolas';
    src: url(fonts/consolas.ttf);
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(230, 255, 83, 1);
}

html {
    scroll-behavior: auto !important;
}


body {
    cursor: url('image/default-cursor.svg') 16 16, auto;
}

a,
button,
#header,
.swiper-button-next-2,
.swiper-button-prev-2 {
    cursor: url('image/pointer.svg') 16 16, pointer !important;
}

.swiper .swiper-slide img {
    cursor: url('image/grab-pointer.svg') 16 16, pointer !important;
}

.swiper .swiper-slide img:active {
    cursor: url('image/grabbed.svg') 16 16, pointer !important;
}

html {
    scroll-behavior: auto !important;
}

.resume {
    width: 100dvw;
}

.section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.horizontal-wrapper {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

.horizontal {
    display: flex;
    height: 100%;
    width: 200dvw;
}

.horizontal .section {
    width: 100dvw;
}

.section-1 {
    justify-content: center;
    align-items: unset;
}

.main-card {
    width: 66dvw;
    height: 67dvh;
    border-radius: 30px;
    background-color: rgba(128, 0, 255, 1);
    margin-left: 9dvw;
    margin-top: 24dvh;
    position: relative;
    z-index: 1;
}

.animated-text {
    font-weight: bold;
    font-family: Consolas;
    border-right: 2px solid black;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
    max-width: 33dvw;
    z-index: 1;
}

.myname,
.animated-text {
    font-family: Consolas;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    border: 0;
    margin: 0;
    transition: all .2s ease-in;
    z-index: 1;
}

.myname {
    position: absolute;
    display: contents;
    white-space: nowrap;
}

.animated-text::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 60px;
    background: rgba(230, 255, 83, 1);
}

.text-from-me {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30%;
    margin-top: 8dvh;
}

header {
    position: absolute;
    width: calc(3dvw + 16px);
    height: calc(3dvw + 16px);
    background: rgba(128, 0, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.4s ease-in-out;
    transition: all .3s ease;
    overflow: hidden;
    border-radius: 0;
    top: 6svh;
    /* transform: rotate(45deg); */
}

.header-menu {
    display: none;
    opacity: 0;
    transition: all .3s ease;
    transition: opacity 0.3s ease-in-out;
}

header.open {
    width: 85dvw;
    height: 7.8dvh;
    transform: rotate(0);
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

header.open .header-menu {
    opacity: 1;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-menu a {
    font-family: Consolas;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: rgba(230, 255, 83, 1);
    z-index: 100;
}

#toggleBtn {
    background: rgba(128, 0, 255, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    transition: all .5s ease;
}

#toggleBtn:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}

#toggleBtn::before,
#toggleBtn::after {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 20%;
}

#toggleBtn::before {
    height: 100%;
    width: 30%;
    transform: rotate(0deg);
}

#toggleBtn::after {
    height: 30%;
    width: 100%;
}

header.open #toggleBtn {
    width: 100dvw;
    height: 20dvh;
    position: absolute;
    background-color: rgba(128, 0, 255, 1);
}

header.open #toggleBtn::before,
header.open #toggleBtn::after {
    height: 0;
    width: 0;
}

.engineer,
.about-me {
    white-space: normal;
    position: absolute;
    margin: 0;
    padding: 0;
}

.engineer {
    top: -8dvh;
    left: -12dvw;
}

.about-me {
    bottom: -8dvh;
    left: 2dvw;
    display: flex;
    flex-direction: row;
}

.about-me img {
    transform: translateY(4dvw) rotate(90deg);
    transition: all .3s ease;
}

.about-me a {
    margin: 0;
    padding: 0;
}

.about-me a:hover img {
    transform: translateY(4.4dvw) rotate(90deg);
    transition: all .3s ease;
}

h2 {
    font-family: Minecraft;
    font-size: 64px;
    line-height: 1.2;
    z-index: 1000;
}

.chto {
    position: absolute;
    top: 57%;
    left: 43%;
}


@media screen and (max-width: 1024px) {
    header {
        display: none;
    }

    .main-card {
        width: 90dvw;
        margin-left: 20dvw;
        border-radius: 30px 0 0 30px;
    }

    .myname,
    .animated-text {
        font-size: 20px;
        line-height: 30px;
    }

    .animated-text::after {
        width: 10px;
        height: 20px;
    }

    h2 {
        font-size: 36px;
    }

    .text-from-me {
        margin-top: 16dvh;
    }

    .engineer {
        left: 8dvw;
    }

    .about-me {
        left: 8dvw;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1024px) {
    h2 {
        font-size: 48px;
    }

    .myname,
    .animated-text {
        font-size: 36px;
    }

    .animated-text::after {
        width: 20px;
        height: 36px;
    }
}

.cont-1-1,
.cont-1-2 {
    position: absolute;
    z-index: 0;
}

.cont-1-2 {
    left: calc(89dvw - 18px);
    top: 24dvh;
}

.cont-1-1 {
    right: 78dvw;
    bottom: 10dvh;
}

@media screen and (max-width: 1024px) {
    .cont-1-2 {
        display: none;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .cont-1-2 {
        left: calc(89dvw - 18px);
        top: 24dvh;
    }

    .cont-1-1 {
        right: calc(78dvw + 2px);
    }
}

/* ---------------------- 2 -------------------- */

.section-2 .lrg-2 {
    transform: scale(1.5);
}

.in-text {
    position: relative;
    margin-left: -24dvw;
}

.in-text h3 {
    position: absolute;
    top: 0;
}

.cont-2 {
    position: absolute;
    bottom: 20dvh;
    left: 75dvw;
}

.arr-2 {
    position: absolute;
    top: 40dvh;
    left: 80dvw;
}

@media screen and (max-width: 1024px) {
    .section-2 .lrg-2 {
        transform: scale(0.5);
    }

    .cont-2 {
        display: none;
    }

    .section {
        max-width: 100dvw;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .section-2 .lrg-2 {
        transform: scale(1);
    }

    .cont-2 {
        left: 60dvw;
        transform: scale(0.5)
    }
}

/* ------------- 3 ----------------- */

.experience {
    position: absolute;
    top: 0;
    left: 120dvw;
}

.gde-to {
    position: relative;
    margin-left: 26dvw;
    margin-top: 12dvh;
}

.lrg-3 {
    transform: scale(1.5);
}

h3 {
    color: rgba(0, 0, 0, 1);
    font-family: Consolas;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.gde-to h3 {
    position: absolute;
    top: 0;
}

.s-cho-1,
.s-cho-2 {
    position: absolute;
}

.s-cho-1 {
    top: 34dvh;
    right: 79dvw;
}

.s-cho-2 {
    top: 38dvh;
    right: 81dvw;
}

.s-2-v {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 10dvw;
}

@media screen and (max-width: 1024px) {
    .lrg-3 {
        transform: scale(0.6);
    }

    .s-cho-1,
    .s-cho-2 {
        transform: scale(0.5);
    }

    .gde-to h3 {
        top: 25%;
        left: 30%;
        max-width: 40%;
        max-height: 36%;
        overflow: auto;
    }

}

@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .lrg-3 {
        transform: scale(1);
    }

    .s-2-v {
        top: 32dvh;
    }

    .gde-to h3 {
        top: 8%;
        left: 6%;
        max-width: 90%;
    }

}

/* --------------------- 4 ---------------------- */

.section-4-head {
    position: relative;
    width: 100dvw;
}

.section-4-head h2 {
    margin: 0;
    padding: 0;
}

.stars {
    position: absolute;
    right: 0;
}

.tools {
    position: absolute;
    left: 16dvw;

}

.swiper {
    max-width: 80dvw;
    max-height: 80dvh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.swiper1 .swiper-slide img {
    position: relative;
}

.slide-text {
    position: absolute;
    width: 60%;
    top: 30%;
    left: 20%;
    color: rgba(0, 0, 0, 1);
    font-family: Consolas;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    z-index: 100;
    text-align: left;
    white-space: normal;
}

@media screen and (max-width: 1024px) {
    .stars {
        display: none;
    }

    .swiper1 {
        width: 100dvw;
        max-width: none;
    }

    .swiper1 .swiper-slide img {
        transform: scale(0.8);
    }

    .slide-text {
        width: 36%;
        top: 30%;
        left: 34%;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .in-text h3 {
        top: 30%;
        left: 30%;
        max-width: 40%;
        max-height: 36%;
        overflow: auto;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .swiper1 .swiper-slide img {
        transform: scale(1);
    }

    .in-text h3 {
        top: 12%;
        left: 6%;
        max-width: 90%;
    }
}



/* ------------------------ почти ----------------------- */

.proj {
    position: absolute;
    left: 0;
    top: 10dvh;
}

.projects-menu {
    width: 66dvw;
    height: 56dvh;
    background-color: rgba(128, 0, 255, 1);
    border-radius: 30px;
    position: relative;
    margin-top: 40dvh;
    margin-right: 20dvw;
}

.section-5 {
    position: relative;
}

.swiper2 {
    max-width: 50dvw;
    position: absolute !important;
    top: 10dvh;
    right: 10dvw;
}

.swiper2 .swiper-slide img {
    margin-top: 4dvh;
    cursor: grab;
}

.slide-pl {
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 50dvh;
    flex-wrap: wrap;
    position: relative;
}

.slide-pl a h2 {
    position: absolute;
    top: 10%;
    left: 25%;
    color: black;
}

.projects-menu h2 {
    position: absolute;
    left: 4dvw;
    margin: 0;
}

.projectspro {
    top: -4dvh;
}

.contactpro {
    bottom: 2dvw;
}

#contact a {
    display: inline-block;
}

#contact img {
    transform: rotate(90deg);
    margin-bottom: 1dvh;
    display: block;
}

.swiper-buttons-container {
    position: relative;
    max-width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    z-index: 100;
    max-height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.swiper-button-next-2,
.swiper-button-prev-2 {
    max-width: 30%;
    cursor: pointer;
}

.swiper-button-prev-2 {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {

    .proj,
    .swiper-button-next-2,
    .swiper-button-prev-2 {
        display: none;
    }

    .swiper2 {
        max-width: 100dvw;
        right: 0;
    }

    .swiper2 .swiper-slide img {
        transform: scale(0.5);
    }

    .slide-pl {
        min-height: 30dvh;
    }

    .swiper2 .swiper-slide img {
        margin-top: 0;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .proj {
        transform: scale(0.8);
        left: -10dvw;
    }

    .swiper2 {
        max-width: 60dvw;
        right: 0;
    }

    .swiper2 .swiper-slide img {
        transform: scale(0.9);
    }
}

/* ------------------- вот он момент истины ------------------ */
.section-6 {
    position: relative;
}

.section-6-container {
    width: 80dvw;
    height: 30dvh;
    background-color: rgba(128, 0, 255, 1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.section-6-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.stick-section {
    width: 2px;
    height: 123px;
    max-height: 70%;
    background-color: black;
}

.section-6-container ul img {
    transition: all .3s ease;
}

.section-6-container ul a:hover img {
    transform: scale(1.1);
    transition: all .3s ease;
}

.last-arrow,
.nuchotam {
    position: absolute;
}

.last-arrow {
    transform: rotate(-90deg);
    right: 4dvw;
    bottom: 16dvh;
}

.nuchotam {
    top: 80dvh;
    left: 0;
}

.zvezda {
    position: absolute;
    top: 8dvh;
    left: 69dvw;
}

.zvezda-2 {
    position: absolute;
    top: 14dvh;
    left: 32dvw;
}

@media screen and (max-width: 1280px) {
    .section-6-container ul img {
        transform: scale(0.5);
    }

    .section-6-container ul a:hover img {
        transform: scale(0.55);
    }
}

/* Резюме на мобилах */

@media screen and (max-width: 1024px) {
    .resume {
        display: none !important;
    }

    .mobile-resume {
        display: flex !important;
        flex-direction: column;
        text-align: left;
        align-items: center;
        max-width: 80dvw;
        margin-left: 10dvw;
    }

    .mobile-resume h2 {
        font-family: Minecraft;
        font-size: 36px;
        line-height: 1.2;
        z-index: 1000;
        color: white;
    }

    .mobile-resume h3 {
        font-family: Consolas;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: white;
    }
}

.mobile-resume {
    display: none;
}

.telegram,
.github,
.whatsapp {
    position: relative;
    display: inline-block;
}

.qr-code {
    position: absolute;
    top: -30svh;
    left: 50%;
    transform: translateX(-100%) translateY(2dvw);
    width: 100px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, transform .5s ease;
}

.telegram:hover .qr-code,
.github:hover .qr-code,
.whatsapp:hover .qr-code {
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%) translateY(-2dvw);
}